@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: theme('colors.bpmn-primary') !important;
}

#nav-left nav a.router-link-active {
    @apply bg-cyan-800 text-white;
}

#nav-left nav a:not(.router-link-active) {
    @apply text-cyan-100 hover:text-white hover:bg-cyan-600;
}
